# Casos de COVID em Quixadá-CE

Analisando os dados de COVID-19 na cidade de Quixadá-CE.

In [170]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dateutil.parser

In [171]:
# Modificar para que essa parte seja rodada apenas localmente

df = pd.read_csv('caso.csv')
# df.dtypes
# df.info()
# df.head()

# Filtrar os dados do Ceará e depois salvar como csv.
# Se faz necessário pois o arquivo completo é muito grande para enviar para o github
casos_ce = df[df.state == 'CE']
casos_ce.to_csv('casos_ce.csv', index=False)

# Liberando o dataframe original
del df

In [172]:
# Carregando os dados do Ceará no novo dataframe
casos_ce = pd.read_csv('casos_ce.csv')

In [173]:
# Fazendo cast da coluna date para data
casos_ce['date'] = pd.to_datetime(casos_ce['date'])

In [174]:
# Olhando o dataframe
# casos_ce.info()

In [175]:
# Olhando o conteúdo do dataframe
# casos_ce.head()

In [176]:
# Olhando as cidades não nulas
# casos_ce[df_ce.city.notna()].head()

In [177]:
# Quantidade de cidades únicas
# casos_ce.city.nunique()

In [178]:
# Listando os municípios presentes no arquivo.
# casos_ce.city.unique()

In [179]:
# Olhando os dados para cidade de Quixadá
casos_ce[(casos_ce.city == 'Abaiara')].head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
412,2021-05-04,CE,Abaiara,city,407,9,357,True,11737.0,11853.0,2300101.0,3433.72986,0.0221
413,2021-05-03,CE,Abaiara,city,399,9,356,False,11737.0,11853.0,2300101.0,3366.23640,0.0226
414,2021-05-02,CE,Abaiara,city,390,9,355,False,11737.0,11853.0,2300101.0,3290.30625,0.0231
415,2021-04-30,CE,Abaiara,city,384,9,354,False,11737.0,11853.0,2300101.0,3239.68616,0.0234
416,2021-04-29,CE,Abaiara,city,380,8,353,False,11737.0,11853.0,2300101.0,3205.93942,0.0211

In [180]:
# A condição order_for_place == 1 indica o registro mais atual
# casos_ce[(casos_ce.city == 'Quixadá') & (casos_ce.order_for_place == 1)].head(10)

In [181]:
casos_ce[casos_ce.city == 'Quixadá'].head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
54761,2021-05-04,CE,Quixadá,city,6893,134,387,True,87728.0,88321.0,2311306.0,7804.48591,0.0194
54762,2021-05-03,CE,Quixadá,city,6823,120,386,False,87728.0,88321.0,2311306.0,7725.22956,0.0176
54763,2021-05-02,CE,Quixadá,city,6579,120,385,False,87728.0,88321.0,2311306.0,7448.96457,0.0182
54764,2021-04-30,CE,Quixadá,city,6555,119,384,False,87728.0,88321.0,2311306.0,7421.79097,0.0182
54765,2021-04-29,CE,Quixadá,city,6491,114,383,False,87728.0,88321.0,2311306.0,7349.32802,0.0176

In [182]:
# Retirando as colunas que não serão necessárias.
casos_ce.drop(columns=['state', 
                       'place_type',
                       'confirmed',
                       'order_for_place',
                       'is_last',
                       'estimated_population_2019',
                       'estimated_population',
                       'city_ibge_code',
                       'confirmed_per_100k_inhabitants',
                       'death_rate'], inplace=True)

In [183]:
# Retirando as linhas que tenham city = nan
casos_ce.dropna(subset = ["city"], inplace=True)


casos_ce.head()

          date     city  deaths
412 2021-05-04  Abaiara       9
413 2021-05-03  Abaiara       9
414 2021-05-02  Abaiara       9
415 2021-04-30  Abaiara       9
416 2021-04-29  Abaiara       8

In [184]:
casos_ce.set_index('date', inplace=True)

In [185]:
casos_ce.sort_index()

                  city  deaths
date
2020-03-16   Fortaleza       0
2020-03-16     Aquiraz       0
2020-03-17     Aquiraz       0
2020-03-17   Fortaleza       0
2020-03-18     Aquiraz       0
...                ...     ...
2021-05-04     Mulungu      14
2021-05-04  Chorozinho      25
2021-05-04     Mucambo      19
2021-05-04   Forquilha      66
2021-05-04     Abaiara       9

[67501 rows x 2 columns]

## Tentando criar o dashboard

In [189]:
# Criando a lista de cidades que irão pro combo
cidades_lista = casos_ce['city'].unique().tolist()
# cidades_lista

['Abaiara',
 'Acarape',
 'Acaraú',
 'Acopiara',
 'Aiuaba',
 'Alcântaras',
 'Altaneira',
 'Alto Santo',
 'Amontada',
 'Antonina do Norte',
 'Apuiarés',
 'Aquiraz',
 'Aracati',
 'Aracoiaba',
 'Ararendá',
 'Araripe',
 'Aratuba',
 'Arneiroz',
 'Assaré',
 'Aurora',
 'Baixio',
 'Banabuiú',
 'Barbalha',
 'Barreira',
 'Barro',
 'Barroquinha',
 'Baturité',
 'Beberibe',
 'Bela Cruz',
 'Boa Viagem',
 'Brejo Santo',
 'Camocim',
 'Campos Sales',
 'Canindé',
 'Capistrano',
 'Caridade',
 'Caririaçu',
 'Cariré',
 'Cariús',
 'Carnaubal',
 'Cascavel',
 'Catarina',
 'Catunda',
 'Caucaia',
 'Cedro',
 'Chaval',
 'Chorozinho',
 'Choró',
 'Coreaú',
 'Crateús',
 'Crato',
 'Croatá',
 'Cruz',
 'Deputado Irapuan Pinheiro',
 'Ereré',
 'Eusébio',
 'Farias Brito',
 'Forquilha',
 'Fortaleza',
 'Fortim',
 'Frecheirinha',
 'General Sampaio',
 'Granja',
 'Granjeiro',
 'Graça',
 'Groaíras',
 'Guaiúba',
 'Guaraciaba do Norte',
 'Guaramiranga',
 'Hidrolândia',
 'Horizonte',
 'Ibaretama',
 'Ibiapina',
 'Ibicuitinga',
 'Icapuí',
 'Icó',
 'Iguatu',
 'Importados/Indefinidos',
 'Independência',
 'Ipaporanga',
 'Ipaumirim',
 'Ipu',
 'Ipueiras',
 'Iracema',
 'Irauçuba',
 'Itaitinga',
 'Itaiçaba',
 'Itapajé',
 'Itapipoca',
 'Itapiúna',
 'Itarema',
 'Itatira',
 'Jaguaretama',
 'Jaguaribara',
 'Jaguaribe',
 'Jaguaruana',
 'Jardim',
 'Jati',
 'Jijoca de Jericoacoara',
 'Juazeiro do Norte',
 'Jucás',
 'Lavras da Mangabeira',
 'Limoeiro do Norte',
 'Madalena',
 'Maracanaú',
 'Maranguape',
 'Marco',
 'Martinópole',
 'Massapê',
 'Mauriti',
 'Meruoca',
 'Milagres',
 'Milhã',
 'Miraíma',
 'Missão Velha',
 'Mombaça',
 'Monsenhor Tabosa',
 'Morada Nova',
 'Moraújo',
 'Morrinhos',
 'Mucambo',
 'Mulungu',
 'Nova Olinda',
 'Nova Russas',
 'Novo Oriente',
 'Ocara',
 'Orós',
 'Pacajus',
 'Pacatuba',
 'Pacoti',
 'Pacujá',
 'Palhano',
 'Palmácia',
 'Paracuru',
 'Paraipaba',
 'Parambu',
 'Paramoti',
 'Pedra Branca',
 'Penaforte',
 'Pentecoste',
 'Pereiro',
 'Pindoretama',
 'Piquet Carneiro',
 'Pires Ferreira',
 'Poranga',
 'Porteiras',
 'Potengi',
 'Potiretama',
 'Quiterianópolis',
 'Quixadá',
 'Quixelô',
 'Quixeramobim',
 'Quixeré',
 'Redenção',
 'Reriutaba',
 'Russas',
 'Saboeiro',
 'Salitre',
 'Santa Quitéria',
 'Santana do Acaraú',
 'Santana do Cariri',
 'Senador Pompeu',
 'Senador Sá',
 'Sobral',
 'Solonópole',
 'São Benedito',
 'São Gonçalo do Amarante',
 'São João do Jaguaribe',
 'São Luís do Curu',
 'Tabuleiro do Norte',
 'Tamboril',
 'Tarrafas',
 'Tauá',
 'Tejuçuoca',
 'Tianguá',
 'Trairi',
 'Tururu',
 'Ubajara',
 'Umari',
 'Umirim',
 'Uruburetama',
 'Uruoca',
 'Varjota',
 'Viçosa do Ceará',
 'Várzea Alegre']

In [190]:
# Importa uma série de widgets, select, dropdown etc.
import ipywidgets as widgets

In [196]:
# Widget com o nome das cidades.
# A cidade escolhida será guardada na variável cidade.
cidade = widgets.Dropdown(
    options=list(cidades_lista),
    value='Quixadá', #indicates default starting value
    description='Cidade:', #this is the label for the dropdown
)
# dados_casos[dados_casos.city == 'Quixadá']

In [197]:
def update_grafico(cidade):
    
    df3 = casos_ce[casos_ce.city == cidade][['deaths']]
    #df3.set_index('date', inplace=True)
    df3.plot(figsize=(15,4))
    #df = pd.read_csv('SF_crimes.csv')
    #df3 = dados_casos[casos_plot.city == cidade]
    #df3['confirmed'].plot(figsize=(15,4))
    #df_plot.set_index('date', inplace=True)
    
    #print("Number of rows in the dataset that have been successfully loaded:"+str(df2.iloc[0]['confirmed']))

In [198]:
widgets.interactive(update_grafico, cidade=cidade)

interactive(children=(Dropdown(description='Cidade:', index=149, options=('Abaiara', 'Acarape', 'Acaraú', 'Aco…